# Even better : put these rules directly into your Apache
# configuration file under a Directory section. 
RewriteEngine On
# RewriteBase /backend/
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.+)$ user.php/$1
RewriteRule message/(.+)$ message.php/$1

